## FIXME: could not find svn URL in dependency_links for this package:
## FIXME: could not find svn URL in dependency_links for this package:
alembic==0.5.0
altgraph==0.10.2
amqp==1.0.11
anyjson==0.3.3
argparse==1.2.1
arrow==0.3.3
autopep8==0.9
Babel==0.9.6
bdist-mpkg==0.4.4
beautifulsoup4==4.2.0
BeautifulSoup==3.2.1
billiard==2.7.3.28
blinker==1.2
boto==2.9.5
bottle==0.11.6
celery==3.0.19
certifi==0.0.8
chardet==2.1.1
commando==0.3.4
cov-core==1.7
coverage==3.6
cssmin==0.1.4
Cython==0.19.1
distribute==0.6.40
django-appconf==0.6
django-celery==3.0.17
django-classy-tags==0.4
django-cms==2.4.2
django-compressor==1.1.2
django-grappelli==2.4.4
django-htmlmin==0.6.2
django-mediagenerator==1.11
django-mptt==0.5.2
django-nose==1.1
django-sekizai==0.7
django-uni-form==0.9.0
Django==1.5.1
dmsl==0.4.2
docutils==0.10
dynamodb-mapper==1.8.0
Fabric==1.6.1
feedparser==5.1.3
Flask-Admin==1.0.6
Flask-Assets==0.8
Flask-Babel==0.8
Flask-Cache==0.12
Flask-DebugToolbar==0.8.0
Flask-Login==0.1.3
Flask-Mail==0.8.2
Flask-OAuth==0.12
Flask-Restless==0.11.0
Flask-Script==0.5.3
Flask-SQLAlchemy==0.16
Flask-Uploads==0.1.3
Flask-WTF==0.8.3
flask-xuacompatible==0.1.0
Flask==0.9
flexmock==0.9.7
flup==1.0.3.dev-20110405
fswrap==0.1.1
gevent-socketio==0.3.5-rc2
gevent-websocket==0.3.6
gevent==0.13.8
Ghost.py==0.1b2
git-remote-helpers==0.1.0
Glances==1.6.1
glob2==0.4.1
greenlet==0.4.0
grequests==0.2.0
gunicorn==0.17.4
hiredis==0.1.1
html2text==3.200.3
html5lib==1.0b1
httpie==0.5.1
httplib2==0.8
hyde==0.8.7
ipython==0.13.2
itsdangerous==0.21
jedi==0.6.0
Jinja2==2.7
kombu==2.5.10
Logbook==0.4.1
macholib==1.5.1
Mako==0.8.1
Markdown==2.3.1
MarkupSafe==0.18
mercurial==1.3.1
mimeparse==0.1.3
modulegraph==0.10.4
Moka==0.0.5
msgpack-python==0.3.0
newrelic==1.12.0.56
nose==1.3.0
numba==0.8.1
numpy==1.7.1
oauth2==1.5.211
oauth==1.0.1
oauthlib==0.4.1
onctuous==0.5.5
paramiko==1.10.1
Paste==1.7.5.1
pep8==1.4.5
Pillow==2.0.0
pip-tools==0.3.4
psutil==0.7.1
psycopg2==2.5
py2app==0.7.3
py==1.4.14
pyasn1==0.1.7
pycrypto==2.6
pyflakes==0.7.2
Pygments==1.6
pylibmc==1.2.3
pyOpenSSL==0.13
PyRSS2Gen==1.1
pysmell==0.7.3
pytest-cov==1.6
pytest==2.3.5
python-dateutil==2.1
python-instagram==0.8.0
pytz==2013b
PyYAML==3.10
raven==3.3.7
redis==2.7.5
requests==1.2.3
rope==0.9.4
rq-dashboard==0.3.2
rq==0.3.7
rsa==3.1.1
sh==1.08
shortuuid==0.3
simplejson==3.3.0
six==1.3.0
Skeletor==0.1.0
smartypants==1.6.0.3
South==0.8.1
speaklater==1.3
Sphinx==1.2b1
sphinxcontrib-phpdomain==0.1.4
SQLAlchemy==0.8.1
ssh==1.8.0
stevedore==0.8
times==0.6.1
tornado==3.0.1
tweepy==2.0
Twisted==13.0.0
twitter==1.9.4
typogrify-hyde==1.0.1a
typogrify==2.0.0
ujson==1.30
vboxapi==1.0
verlib==0.1
virtualenv-clone==0.2.4
virtualenv==1.9.1
virtualenvwrapper==4.0
Wand==0.2.4
webassets==0.8
Werkzeug==0.8.3
wsgiref==0.1.2
WTForms==1.0.4
xattr==0.6.4
zope.interface==4.0.5
