Flask==0.9
Jinja2==2.6
MarkupSafe==0.15
Pillow==1.7.8
Pygments==1.5
Werkzeug==0.8.3
blinker==1.2
tornado==2.4
gunicorn==0.15.0
newrelic==1.7.0.31
nose==1.2.1
pylibmc==1.2.3
wsgiref==0.1.2
raven==2.0.9