BeautifulSoup==3.2.1
Django==1.4.1
Flask==0.9
Jinja2==2.6
MarkupSafe==0.15
Pillow==1.7.7
Pygments==1.5
Werkzeug==0.8.3
argparse==1.2.1
blinker==1.2
django-htmlmin==0.5.2
gevent==0.13.7
greenlet==0.4.0
gunicorn==0.14.6
newrelic==1.4.0.137
nose==1.1.2
pylibmc==1.2.3
simplejson==2.6.1
wsgiref==0.1.2
