container_commands:
  00download:
    command: "wget http://aws-cloudwatch.s3.amazonaws.com/downloads/CloudWatchMonitoringScripts-1.2.1.zip"
    ignoreErrors: true
  01extract:
    command: "unzip CloudWatchMonitoringScripts-1.2.1.zip"
    ignoreErrors: true
  02rmzip:
    command: "rm CloudWatchMonitoringScripts-1.2.1.zip"
    ignoreErrors: true
  03prereq:
    command: "yum install -y perl-Switch perl-DateTime perl-Sys-Syslog perl-LWP-Protocol-https"
    ignoreErrors: false
  04cdinto:
    command: "mv aws-scripts-mon/ /home/ec2-user"
    ignoreErrors: true
  05cron:
    command: "crontab -l | { cat; echo '* * * * * /home/ec2-user/aws-scripts-mon/mon-put-instance-data.pl --mem-util --mem-used --mem-avail'; } | crontab -"
    ignoreErrors: false
