{% extends "layout.html" %}
{% block content %}
<header role="banner">
  <div class="container">
    <h1>Fake images please?</h1>
    <h2>placeholders all the way</h2>
    <section role="share">
      <a id="tweet" href="http://twitter.com/?status=Fake%20images%20please%3F%20http://fakeimg.pl%20via%20@phollow"><span class="icon-twitter"></span></a>
      <a id="facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://fakeimg.pl"><span class="icon-facebook"></span></a>
    </section>
  </div>
</header>
<figure id="example">
  <div class="container">
    <aside role="sidebar">
    <p>
    When designing websites, you may not have the images you need at first. 
    But you already know the sizes and inserting some placeholders can help 
    you better seeing the layout. Don’t waste your time making dummy images 
    for your mockup or wireframe. <strong>Fakeimg.pl</strong> is a little tool 
    that generates images with an URL. Choose the size, the colors, even the 
    text. It’s free and 
    <a target="_blank" href="https://github.com/Rydgel/Fake-images-please">
      open-source</a>.
    </p>
      <h3>How to use</h3>
      <p>
      You just have to put your image size after our URL. Only the first 
      parameter is mandatory. There are options too, you can pass a text, or 
      change some colors. Colors must be hexadecimal, the first one is the 
      background color. The text can be passed with the <strong>text</strong> 
      GET variable. Here are some examples you can look at:
      </p>
      <pre><code>&lt;img src="http://fakeimg.pl/300/"&gt;
&lt;img src="http://fakeimg.pl/250x100/"&gt;
&lt;img src="http://fakeimg.pl/250x100/ff0000/"&gt;
&lt;img src="http://fakeimg.pl/350x200/ff0000/000"&gt;
&lt;img src="http://fakeimg.pl/350x200/?text=Hello"&gt;</code></pre>
      <p>
      Use them directly in an image tag or a CSS background, or whatever you 
      want to. This is a first draft, so you may expect some new features soon.
      </p>
    </aside>
    <section role="images">
      <div class="first-line">
        <img alt="fakeimg.pl" src="/439x311/282828/eae0d0">
      </div>
      <div class="second-line-1">
        <img class="left" alt="fakeimg.pl" src="/199x100/282828/eae0d0">
      </div>
      <div class="second-line-2">
        <img class="right" alt="fakeimg.pl" src="/199x100/282828/eae0d0">
      </div>
      <div class="third-line">
        <img alt="fakeimg.pl" src="/439x211/282828/eae0d0?text=Problem?">
      </div>
    </section>
  </div>
</figure>

<footer>
<div class="container">
  <div class="footer-left">
    <p>
    Made by <a href="http://jrm.li">Jérôme Mahuet</a>, with love in 2012.
    <br>Powered by <a target="_blank" href="http://www.python.org/">Python</a>, 
    <a target="_blank" href="http://flask.pocoo.org/">Flask</a>, 
    <a target="_blank" href="http://sass-lang.com/">Sass</a>, 
    <a target="_blank" href="http://compass-style.org/">Compass</a>, 
    <a target="_blank" href="http://coffeescript.org/">Coffeescript</a> &amp; 
    <a target="_blank" href="http://www.vim.org/">Vim</a>.
    <br>The fonts are 
    <a target="_blank" href="https://typekit.com/fonts/ff-dagny-web-pro">
      FF Dagny Web Pro
    </a> &amp; 
    <a href="https://typekit.com/fonts/brandon-grotesque" target="_blank">
      Brandon Grotesque
    </a>.
    </p>
  </div>
  <div class="footer-right">
    <p>
    Follow <a href="http://twitter.com/phollow">@phollow</a> to keep updated 
    with the project, or if you just want to ask something.
    <br>Licensed under 
    <a target="_blank" href="http://en.wikipedia.org/wiki/MIT_License">MIT</a> 
    ♥
    </p>
  </div>
  </div>
</footer>
{% endblock %}
