<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Fake images please?</title>
  <meta name="description" content="Fakeimg.pl is a little tool that generates images with an URL. Choose the size, the colors, even the text. Oh… and it’s free.">
  <meta name="author" content="Jérôme Mahuet">
  <meta name="google-site-verification" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">

  <script src="http://use.typekit.com/ces4czl.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<!--[if lt IE 7]>
<p class=chromeframe>Your browser is <em>ancient!</em> 
  <a href="http://browsehappy.com/">Upgrade to a newer browser</a> or 
  <a href="http://www.google.com/chromeframe/?redirect=true">
    install Google Chrome Frame
  </a> to experience this site.
</p>
<![endif]-->
<header role="banner">
  <div class="container">
    <h1>Fake images please?</h1>
    <h2>placeholders all the way</h2>
    <section role="share">
      <a id="tweet" href="http://twitter.com/?status=Fake%20images%20please%3F%20http://fakeimg.pl%20via%20@phollow"><span class="icon-twitter"></span></a>
      <a id="facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://fakeimg.pl"><span class="icon-facebook"></span></a>
    </section>
  </div>
</header>
<figure id="example">
  <div class="container">
    <aside role="sidebar">
      <p>When designing websites, you may not have the images you need at first. But you already know the sizes and inserting some placeholders can help you better seeing the layout. Don’t waste your time making dummy images for your mockup or wireframe. <strong>Fakeimg.pl</strong> is a little tool that generates images with an URL. Choose the size, the colors, even the text. It’s free and <a target="_blank" href="">open-source</a>.</p>
      <h3>How to use</h3>
      <p>You just have to put your image size after our URL. Only the first parameter is mandatory. There are options too, you can pass a text, or change some colors. Colors must be hexadecimal, the first one is the background color. The text can be passed with the <strong>text</strong> GET variable. Here are some examples you can look at:</p>
      <pre><code>&lt;img src="http://fakeimg.pl/300/"&gt;
&lt;img src="http://fakeimg.pl/250x100/"&gt;
&lt;img src="http://fakeimg.pl/250x100/ff0000/"&gt;
&lt;img src="http://fakeimg.pl/350x200/ff0000/000"&gt;
&lt;img src="http://fakeimg.pl/350x200/?text=Hello"&gt;</code></pre>
      <p>Use them directly in an image tag or a background CSS, or whatever you want to. This is a first draft, so you may expect some new features soon.</p>
    </aside>
    <section role="images">
      <div class="first-line">
        <img src="/439x311/3b4854/FAEFDE">
      </div>
      <div class="second-line-1">
        <img class="left" src="/199x100/3b4854/FAEFDE">
      </div>
      <div class="second-line-2">
        <img class="right" src="/199x100/3b4854/FAEFDE">
      </div>
      <div class="third-line">
        <img src="/439x211/3b4854/FAEFDE?text=Problem?">
      </div>
    </section>
  </div>
</figure>

<footer>
  <div class="container">
    Handcrafted by Jérôme Mahuet. Python &amp; Flask powered. Hosted on Heroku.
  </div>
</footer>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
