<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Fake images please?</title>
  <meta name="description" content="Fakeimg.pl is a little tool that generates images with an URL. Choose the size, the colors, even the text. Oh… and it’s free.">
  <meta name="author" content="Jérôme Mahuet">
  <meta name="google-site-verification" content="DSRmxQoCKHK7G7hG6qmNdsb7S0qleY_USYv3ft97kts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">

  <script src="http://use.typekit.com/ces4czl.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<!--[if lt IE 7]>
<p class=chromeframe>Your browser is <em>ancient!</em>
  <a href="http://browsehappy.com/">Upgrade to a newer browser</a> or
  <a href="http://www.google.com/chromeframe/?redirect=true">
    install Google Chrome Frame
  </a> to experience this site.
</p>
<![endif]-->
{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
  var _gaq=[['_setAccount','UA-32228537-1'],['_trackPageview']];
  (function(d,t){
    var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)
  }(document,'script'));
</script>
</body>
</html>

